*{
    margin: 0;
    padding: 0;
}
a {
    color: #4078c0;
    text-decoration: none;
}
a:hover{
    border-bottom: 1px solid #4078c0;
    cursor: pointer;
}
body{
    color: #333;
    min-width: 1366px;
    line-height: 1.5;
    font-family: "Microsoft YaHei";
}
.header{
    padding: 10px 13.1%;
    height: 29px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}
.logo{
    float: left;
    width: 29px;
    height: 29px;
}
.search{
    float: left;
    margin-left: 10px;
    width: 360px;
    height: 26px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-size: 13px;
    padding: 0px 5px;
    font-family: "Microsoft YaHei";
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}
.avatar_holder{
    float: right;
}
.avatar_holder:hover{
    cursor: pointer;
    color: #4078c0;
}
.small_avatar{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.arrow{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    margin-bottom: 10px;
    margin-top: 12px;
    border: 4px solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.arrow:hover{
    color: #4078c0;
    cursor: pointer;
}
.latest_info{
    display: inline-block;
    width: 63%;
}
.info_holder{
    width: 100%;
    display: block;
    padding: 23px 0 23px 10px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
}
.mark{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}
.info_detail{
    display: inline-block;
}
.message{
    margin-bottom: 20px;
    width: 270px;
    min-height: 129px;
    padding: 11px 10px 10px 62px;
    border: solid 1px #4078c0;
    border-radius: 6px;
    background: url(../img/review.png) no-repeat 10px 10px;
    background-size: 37px;
    display: none;
}
.content{
    padding:23px 13.1%;
}
.review_holder{
    display: block;
    font-size: 14px;
}
.pass{
    width: 67px;
    margin-top: 7px;
    margin-left: 124px;
    height: 33px;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    background-image: linear-gradient(#eee, #ddd);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-appearance: none;
}
.pass:hover{
    background: #ddd;
}
.refuse{
    width: 67px;
    margin-top: 7px;
    margin-left: 6px;
    height: 33px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    background-image: linear-gradient(#8add6d, #60b044);
    border-radius: 3px;
    -webkit-appearance: none;
    border-width: 0
}
.refuse:hover{
    background: #60b044;
}
.create_time{
    font-size: 12px;
    color: #bbb;
}
.menu{
    width: 100px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    z-index: 100;
    display: none;
    position: absolute;
    top: 50px;
    right: 13.1%;
}

.menu_detail{
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    height: 33px;
    border-bottom: 1px solid #d5d5d5;
    font-size: 14px;
}
.menu_detail:hover {
    background: #4078c0;
    color: #fff;
}
.headline{
    font-size: 16px;
    color: #4078c0;
}

.message_box{
    float: right;
    display: inline-block;
}
.amount{
    width: 91%;
    margin-bottom: 20px;
    background-color: #f2dede;
    border-color: #f2dede;
    color: #b94a48;
    padding: 15px;
    border-radius: 3px;
    text-align: center;
}