*{
    margin: 0;
    padding: 0;
}
a {
    color: #4078c0;
    text-decoration: none;
}
a:hover{
    border-bottom: 1px solid #4078c0;
    cursor: pointer;
}
body{
    color: #333;
    min-width: 1366px;
    line-height: 1.5;
    font-family: "Microsoft YaHei";
}
.header{
    padding: 10px 13.1%;
    height: 29px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}
.logo{
    float: left;
    width: 29px;
    height: 29px;
}
.header_nav_link{
    float: right;
    cursor: pointer;
    margin-left: 15px;
}

.header_nav_link:hover,.header_nav_link:focus{
    color: #4078c0;
}

.header_nav_link > img{
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
}

.dropdown{
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: 4px;
    vertical-align: middle;
    content: "";
    border: 4px solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.menu{
    width: 100px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    z-index: 100;
    display: none;
    position: absolute;
    top: 50px;
}

.menu_detail{
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    height: 33px;
    border-bottom: 1px solid #d5d5d5;
    font-size: 14px;
}

.menu_detail:hover {
    background: #4078c0;
    color: #fff;
}
.search{
    height:33px;
    padding: 25px 13.1%;
    border-bottom: 1px solid #e5e5e5;
}
.search > span{
    padding-right: 20.96%;
    float: left;
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
}

.input_search{
    min-height: 30px;
    padding: 3px 8px;
    font-size: 17px;
    color: #333;
    width: 62.544%;
    float: left;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.button_search{
    width: 73px;
    margin-top: 1px;
    margin-left: 11px;
    height: 35px;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    background-image: linear-gradient(to bottom,#fafafa, #f7f7f7);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-appearance: none;
}
.button_search:hover{
    background: #ddd;
}
.result{
    padding:21px 13.1%;
}
.result_menu{
    float: left;
    width: 23.47%;
    border: 1px solid  #d8d8d8;
    color: #4078c0;
    border-radius:3px ;
}
.result_menu >span{
    display: block;
    padding:9px 9px 9px 38px;
    border-bottom: 1px solid #eeeeee;
    font-size: 15px;
    cursor: pointer;
}
.result_menu > .choose{
    border-left: 2px solid #d26911 ;
    color: #222;
    padding:9px 9px 9px 36px;
    background-position: 7.5px 10.5px;;
}
.paper{
    background: url("../img/paper.png") no-repeat 9.5px 10.5px;
    background-size: 16px;
}
.proj{
    background: url("../img/proj.png") no-repeat 9.5px 10.5px;
    background-size: 16px;
}
.user{
    background: url("../img/user.png") no-repeat 9.5px 10.5px;
    background-size: 16px;
}
.result_menu>span:last-child{
    border-bottom: 0;
}
.result_detail{
    float: left;
    padding-left:21px ;
    width: 73.6%;
}
.result_number{
    display: block;
    padding: 6.5px 0 22.5px 0;
    border-bottom: 1px solid #eeeeee;
    font-size: 20px;
}
.result_blocks{
    padding: 30px 0px;
    border-bottom: 1px solid #eeeeee;
}
.headline{
    font-size: 20px;
    color: #4078c0;
}
.abstract{
    font-size: 12px;
    color: #888;
    padding-top: 17px;
}
.update_time{
    font-size: 13px;
    color: #888;
    display: inline-block;
    float: right;
    padding-top: 7px;
}