*{
	margin:0;
	padding: 0;
	font-family: "Microsoft YaHei";
}

body{
	min-width: 1366px;
}

ul{
	list-style-type: none;
}

a{
	color: #4080cd;
	text-decoration: none;
}

a:hover{
	text-decoration: underline; 
}

#header{
	height: 29px;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	padding: 10px 13.1%;
}

#header > img{
	float: left;
	height: 29px;
}

.search{
	float: left;
	padding: 0 5px;
    height: 26px;
    margin-left: 10px;
    font-size: 13px;
    border-radius: 3px;
    width: 360px;
    border:1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.header_nav_link{
	float: right; 
	cursor: pointer;
	margin-left: 15px;
}

.header_nav_link:hover,.header_nav_link:focus{
	color: #4078c0;
}

.header_nav_link > img{
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: 20px;
}

.dropdown{
	display: inline-block;
    width: 0;
    height: 0;
    margin-top: 4px;
    vertical-align: middle;
    content: "";
    border: 4px solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.menu{
    width: 100px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    z-index: 100;
    display: none;
    position: absolute;
    top: 50px;
}

.menu_detail{
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    height: 33px;
    border-bottom: 1px solid #d5d5d5;
    font-size: 14px;
}

.menu_detail:hover {
    background: #4078c0;
    color: #fff;
}

#sub_header{
	height: 30px;
	padding: 20px 13.1%;
	border-bottom: 1px solid #eee;
	background-color: #fafafa; 
	margin-bottom: 25px;
}

#sub_header > img{
	padding: 3px;
	height: 18px;
}

.owner,#sub_header > span,.proj_name,#sub_header > img{
	float: left;
}

.owner,.proj_name{
	color: #4078c0;
}

#sub_header > span{
	color: #666;
}

.proj_name{
	font-weight: bold;
}

#sub_header > span{
	margin:0 5px;
}

#button_group{
	height: 35px;
	padding: 0 13.1%;
	margin-bottom: 25px;
}

.operate{
	float: right;
	display: inline-block;
	height: 100%;
	width: 90px;
	margin-left: 10px;
	border-radius: 3px;
	color: #fff;
}

.operate:nth-child(1){
	border:1px solid #900;
	background-color: #df3e3e;
}

.operate:nth-child(2){
	background-image: linear-gradient(to bottom,#8edb6d,#58b032);
	border:1px solid #5aad35;
}

#content{
	position: relative;
	width: 73.9%;
	margin: 0 auto;
	padding: 10px 0;
	border-radius: 3px;
	border:1px solid #e5e5e5;
	box-shadow: inset 0 1px 10px rgba(0,0,0,0.075);
	background-color: #fafafa;
	color: #333;
	font-size: 15px;
}

#content .left{
	width: 70%;
	display: inline-block;
}

.key,.value{
	display: inline-block;
	margin-top: 10px;
}

.key{
	margin-left: 15px;
	width: 20%;
}

.value{
	margin-right: 15px;
	font-size: 14px;
}

#content .right{
	width: 29%;
	display: inline-block;
}

#content .right img{
	width: 150px;
}

#content .right button{
	height: 35px;
	margin: 5px 25px;
	width: 90px;
	border-radius: 3px;
	color: #333;
	background-color: #fff;
	border:1px solid #e5e5e5;
}

.value > input{
	display: inline-block;
	border-radius: 3px;
	height: 25px;
	background-color: #fff;
	border:1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
	width: 300px;
	padding: 0px 3px;
}

.value > textarea{
	display: block;
	border-radius: 3px;
	background-color: #fff;
	border:1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
	width: 500px;
	height: 100px;
	padding: 5px 5px;
	resize: none;
}

#thelist *{
	font-family: "Microsoft YaHei Light";
}